In [1]:
import pandas as pd

### 1. What Is A Series?

In [2]:
students = ["Andrew", "Brie", "Kanika"]

In [3]:
type(students)

list

In [4]:
pd.Series(students)

0    Andrew
1      Brie
2    Kanika
dtype: object

In [7]:
ages = [27, 49, 37]

In [8]:
pd.Series(ages)

0    27
1    49
2    37
dtype: int64

In [9]:
heights = [167.4, 173.2, 190.0]

In [10]:
pd.Series(heights)

0    167.4
1    173.2
2    190.0
dtype: float64

In [11]:
mixed = [True, 'say', {'my_mood': 100}]

In [12]:
pd.Series(mixed)

0                True
1                 say
2    {'my_mood': 100}
dtype: object

In [13]:
# a series is simply a one dimensional sequence of values with associated labels